<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Yam's - Feuille de Score</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="main-container">
    <h1>Yam's - Feuille de Score</h1>
    <div id="scores-box"></div>
    <button id="undo-btn" class="yams-btn" style="margin-bottom:15px;">Annuler dernier coup</button>
    <div class="grids-flex" id="grids-container"></div>
</div>
<script>
    const GAME_ID = "{{ game_id }}";
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
